@font-face {
	font-family: 'ecoicon';
	src:url('../Chronus-Website/fonts/ecoicons/ecoicon.eot');
	src:url('../Chronus-Website/fonts/ecoicons/ecoicon.eot?#iefix') format('embedded-opentype'),
		url('../Chronus-Website/fonts/ecoicons/ecoicon.woff') format('woff'),
		url('../Chronus-Website/fonts/ecoicons/ecoicon.ttf') format('truetype'),
		url('../Chronus-Website/fonts/ecoicons/ecoicon.svg#ecoicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Cookie';
  font-style: normal;
  font-weight: 400;
  src: local('Cookie-Regular'), 
  url('../Chronus-Website/Cookie_Font.woff') format('woff');
}

body {
	/*background-color: rgba(68, 131, 129, 0.71);*/
	/*background-color: #2b3e50;*/
	background-color: rgba(59, 119, 118, 0.79);
	font-family: 'Lucida Sans Unicode', 'Lucida Grande';
}


.logo {
	font-size: 100px;
	font-family: 'Cookie', cursive;
	color: #2b3e50;
}

a {
	color: #ccc;
	text-decoration: none !important;
}

span a {
	color: #2b3e50;
	font-size: 20px !important;
	text-decoration: none !important;
}

span a:hover {
	color: #2b3e50;
	font-size: 20px !important;
	text-decoration: none !important;
	cursor: pointer;
}

.icons ul {
  list-style: none;
  padding: 0px !important;

}

.icons ul li {
	display: inline-block;
	list-style: none;
  	padding: 10px;
  	text-align:center; 
}

.icons ul li a {
  display: block;
  margin-bottom: 12px; 
  font-size: 13px;
  text-decoration: none;
  
}

.icon-div {
	padding: 30px;
	text-align: center;
	position: relative;
	border: 1px solid #cfcfcf;
}

.icon-description-text {
	font-size: 20px;
	/*font-weight: bold;*/
	color: #2b3e50;
}

.hi-icon-wrap {
	text-align: center;
	margin: 0 auto;

}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 60px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #2b3e50;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'ecoicon';
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.hi-icon-mobile:before {
	content: "\e009";
}

.hi-icon-screen:before {
	content: "\e00a";
}

.hi-icon-earth:before {
	content: "\e002";
}

.hi-icon-support:before {
	content: "\e000";
}

.hi-icon-locked:before {
	content: "\e001";
}

.hi-icon-cog:before {
	content: "\e003";
}

.hi-icon-clock:before {
	content: "\e004";
}

.hi-icon-videos:before {
	content: "\e005";
}

.hi-icon-list:before {
	content: "\e006";
}

.hi-icon-refresh:before {
	content: "\e007";
}

.hi-icon-images:before {
	content: "\e008";
}

.hi-icon-pencil:before {
	content: "\e00b";
}

.hi-icon-link:before {
	content: "\e00c";
}

.hi-icon-mail:before {
	content: "\e00d";
}

.hi-icon-location:before {
	content: "\e00e";
}

.hi-icon-archive:before {
	content: "\e00f";
}

.hi-icon-chat:before {
	content: "\e010";
}

.hi-icon-bookmark:before {
	content: "\e011";
}

.hi-icon-user:before {
	content: "\e012";
}

.hi-icon-contract:before {
	content: "\e013";
}

.hi-icon-star:before {
	content: "\e014";
}



/* Effect */
.hi-icon-effect .hi-icon {
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

.hi-icon-effect .hi-icon:after {
	top: 0;
	left: 0;
	padding: 0;
	box-shadow: 0 0 0 3px #2b3e50;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

/* Effect a */
.hi-icon-effect-a .hi-icon:hover:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
	opacity: 0.7;
	color: #fff;
}

.hi-icon-effect-a .hi-icon:hover {
	box-shadow: 0 0 0 10px #2b3e50;
	color: #fff;
}

/* Separating line */
.sep-line {
	border-top: 1px solid #cfcfcf;
	width: 100%;
	text-align: center;	
	display: block;
	height: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	margin-bottom: 10px;
 	margin-top: 10px;

}